.list-item {
  list-style-type: none;
}

.button {
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 50px;

  background-color: transparent;
  cursor: pointer;
  border: 1px solid #f1f5f9;
  outline: none;
}

.active {
  background-color: #f3aa4e;
}
